<div id="body-pseudo">
    <div class="container-pseudo">
        <div class="logo-key">
            <img src="\assets/img/logo-key-white.png" alt="picturer-key">
        </div>
        <h1>COMMENCER</h1>
        <div class="description">
            <p>Vérifions quelques informations pour configurer votre compte.</p>
        </div>
        <h2>Quel est votre pseudo ?</h2>
        <form action="">
            <label for="pseudo"></label>
            <input type="text" placeholder="Pseudo">
            <button>Continuer</button>
        </form>
        <div class="back">
            <a href="">Retour</a>
        </div>
        <div class="last-page">
            <img src="\assets/img\button-pages.png" alt="button-switch">
        </div>
    </div>
    <div class="social-network">
        <a href=""><img src="\assets/img/youtube.png" alt="logo-facebook"></a>
        <a href=""><img src="\assets/img\instagram.png" alt="logo-instagram"></a>
        <a href=""><img src="\assets/img\twitter.png" alt="logo-twitter"></a>
        <a href=""><img src="\assets/img\facebook.png" alt="logo-facebook"></a>
    </div>
</div>