<div id="body-pseudo">
    <div class="container-pseudo">
        <div class="logo-key">
            <img src="\assets/img/logo-key.png" alt="picturer-key">
        </div>
        <div class="validation">
            <img src="\assets/img/validation.png" alt="">
        </div>
        <h1>C’est terminé !</h1>
        <div class="description">
            <p>Votre compte a été créé, un lien de confirmation vous a été envoyé sur :</p>
        </div>
        <h2>libert.josic@hotmail.fr</h2>
        <div class="description">
            <p>Vous pouvez changer votre adresse e-mail ou votre mot de passe à tout moment dans Paramètres du compte.</p>
        </div>
        <button>Continuer</button>
        <div class="back">
            <a href="">Retour</a>
        </div>
        <div class="last-page">
            <img src="\assets\button-pages.png" alt="">
        </div>
    </div>
    <div class="social-network">
        <a href=""><img src="\assets/img/youtube.png" alt="logo-facebook"></a>
        <a href=""><img src="\assets/img\instagram.png" alt="logo-instagram"></a>
        <a href=""><img src="\assets/img\twitter.png" alt="logo-twitter"></a>
        <a href=""><img src="\assets/img\facebook.png" alt="logo-facebook"></a>
    </div>
</div>