<app-nav-bar></app-nav-bar>

<div class="profil-global">
    <h1>PROFIL</h1>
    <div class="profil">
        <div class="crud-profil">
            <p>Avatar</p>
            <p>E-mail</p>
            <p>Mot de passe</p>
        </div>
        <div class="button-crud">
            <button class="upgrade">Modifier</button>
            <button class="delete">Supprimer</button>
        </div>
        <div class="items">
            <h2>Items</h2>
            <div class="items-case">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
        <div class="detail-item">

        </div>
    </div>
</div>

<app-footer></app-footer>