<div id="body-pseudo">
    <div class="container-pseudo">
        <div class="logo-key">
            <img src="\assets/logo-key.png" alt="picturer-key">
        </div>
        <h1>Identification de votre compte</h1>
        <div class="description">
            <p>Merci de prendre connaissance des conditions et options ci-dessous.</p>
        </div>
        <h2>Quel est votre email ?</h2>
        <div class="form">
            <p>J’ai lu et compris la politique de confidentialité. 
                Pour en savoir plus sur la façon dont nous utilisons ces informations ainsi que sur vos droits à contester, 
                consultez notre Politique de confidentialité .
            </p>
            <hr>
            <p>En cliquant sur “Continuer”, j’accepte les Contrat de Licence D’utilisateur Final</p>
            <form action="">
                <input type="checkbox">
                <button>Continuer</button>
            </form>
        </div>
        <div class="back">
            <a href="">Retour</a>
        </div>
        <div class="last-page">
            <img src="\assets\button-pages.png" alt="">
        </div>
    </div>
    <div class="social-network">
        <a href=""><img src="\assets/img/youtube.png" alt="logo-facebook"></a>
        <a href=""><img src="\assets/img\instagram.png" alt="logo-instagram"></a>
        <a href=""><img src="\assets/img\twitter.png" alt="logo-twitter"></a>
        <a href=""><img src="\assets/img\facebook.png" alt="logo-facebook"></a>
    </div>
</div>