<app-nav-bar></app-nav-bar>

<div class="body-home">
    <div class="home-top">
        <h1>Bienvenue</h1>
    <p>sur notre site dédié aux RPG.
       Découverte, astuce, mini-jeux et boutique sont au programme et n’oubliez pas...
       Amusez-vous !</p>
    </div>
    <div class="game-list">
        <div class="game-list-top">
            <img src="assets/img/game-icon.png" alt="game-icon">
            <h2>Liste de jeux</h2>
        </div>
        <div class="games">
            <div class="witcher">

            </div>
            <div class="nier">

            </div>
            <div class="persona">

            </div>
            <div class="final-fantasy">

            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>