<app-nav-bar></app-nav-bar>

<header>
    <div class="header">
        <img src="assets/img/chocobo.png" alt="picture-of-chocobo">
        <h1>Bienvenue dans ma mog boutique kupo ...</h1>
        <img src="assets/img/time-mog.png" alt="picture-of-chocobo">
    </div>
</header>

    <div class="body-cart">
        <section class="magic">
            <div class="screen-left">
                <h2>Nos Magies</h2>
            </div>
            <div class="screen-right">
                <div class="product-top">
                    <img src="assets/img/fire-ball.png" alt="fire-ball">
                    <div class="description">
                        <p>Boule de feu</p>
                        <p>500 pièces</p>
                    </div>
                </div>
                <button>Ajouter au panier</button>
                <div class="product-top">
                    <img src="assets/img/agua.png" alt="agua">
                    <div class="description">
                        <p>Bulle d’eau</p>
                        <p>500 pièces</p>
                    </div>
                </div>
                <button>Ajouter au panier</button>
                <div class="product-top">
                    <img src="assets/img/light.png" alt="light">
                    <div class="description">
                        <p>Eclair</p>
                        <p>500 pièces</p>
                    </div>
                </div>
                <button>Ajouter au panier</button>
            </div>
        </section>
        <section class="weapons">
            <div class="screen-left">
                <h2>Nos Armes</h2>
            </div>
            <div class="screen-right">
                <img src="assets/img/masamune.png" alt="fire-ball">
                <div class="product-top">
                    <div class="description">
                        <p>Masamune</p>
                        <p>2500 pièces</p>
                    </div>
                </div>
                <button>Ajouter au panier</button>
                <img src="assets/img/exscalibur.png" alt="agua">
                <div class="product-top">
                    <div class="description">
                        <p>Exscalibur</p>
                        <p>5000 pièces</p>
                    </div>
                </div>
                <button>Ajouter au panier</button>
            </div>
        </section>
        <section class="buff">
            <div class="screen-left">
                <h2>Nos Buffs</h2>
            </div>
            <div class="screen-right">
                <div class="product-top">
                    <img src="assets/img/fire-ball.png" alt="fire-ball">
                    <div class="description">
                        <p>X 1,5</p>
                        <p>700 pièces</p>
                    </div>
                </div>
                <button>Ajouter au panier</button>
                <div class="product-top">
                    <img src="assets/img/money.png" alt="agua">
                    <div class="description">
                        <p>Or</p>
                        <p>500 pièces</p>
                    </div>
                </div>
                <button>Ajouter au panier</button>
            </div>
        </section>
    </div>

<app-footer></app-footer>